
<!-- Main Content -->
<div id='content' role='main'>
<section class='section'>
  <div class='container'>
    <div class='page-header'>
      <h1>
        About Us
        <!--<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>-->
      </h1>
    </div>
    <div class='row-fluid'>
      <ul class='thumbnails bordered'>
        <li>
          <div class='row-fluid'>
            <div class='span2 pull-center'>
              <i class='icon-glass enormous-icon circled pull-center'></i>
            </div>
            <div class='span10'>
              <h3>A Taste of The Fine Arts</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <hr>
            <div class='row-fluid'>
              <div class='span2 pull-center'>
                <img src="img/FACPurpleCircle.png" alt="Fine Arts Center" height="112" width="112">
              </div>
              <div class='span10'>
                <h3>The Fine Arts Center</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </hr>
        </li>
        <li>
          <div class='row-fluid'>
            <div class='span2 pull-center'>
              <img src="img/PartnersPurpleCircle.png" alt="Fine Arts Center Partners" height="112" width="112">
            </div>
            <div class='span10'>
              <h3>The Fine Arts Center Partners</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
</div>