
<!-- Main Content -->
<div id='content' role='main'>
<section class='section'>
  <div class='container'>
    <div class='page-header'>
      <h1>
        About Us
        <!--<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>-->
      </h1>
    </div>
    <div class='row-fluid'>
      <ul class='thumbnails bordered'>
        <li>
          <div class='row-fluid'>
            <div class='span2 pull-center'>
              <img src="img/EventPurpleCircle.png" alt="Fine Arts Center" height="112" width="112">
            </div>
            <div class='span10'>
              <h3>A Taste of The Fine Arts</h3>
              <p>
                A Taste of the Fine Arts, a sumptuous evening of fine food and entertainment designed to increase recognition and support of the Fine Arts Center of Greenville County Schools, will take place at 7:00 pm on Friday, February 1, 2013, at the Hyatt Regency in Downtown Greenville. This year’s event will include delectable fare, world-class entertainment, artwork, silent and live auctions, and an open bar within the stylish, art-gallery atmosphere of the Hyatt’s Studio 220. It’s a venue and an event at which to see and be seen. Cocktail attire suggested.
              </p>
            </div>
          </div>
          <hr>
            <div class='row-fluid'>
              <div class='span2 pull-center'>
                <img src="img/FACPurpleCircle.png" alt="Fine Arts Center" height="112" width="112">
              </div>
              <div class='span10'>
                <h3>The Fine Arts Center</h3>
                <p>
                  The mission of the Fine Arts Center is to provide advanced, comprehensive arts instruction to students who are artistically talented and wish to participate in an intensive, pre-professional program of study in music, dance, theatre, visual art or digital filmmaking.
                </p>
                <p>
                  Fine Arts Center faculty are all professional artists/teachers. In addition, Fine Arts Center students study with world-renowned guest artists and attend seminars and summer intensives, many of which are funded through assistance from the school. Fine Arts Center graduates attend the most prestigious arts colleges and universities, and alumni have found successful careers on Broadway, as working artists and in other professional settings such as law and medicine. Some have even returned as instructors at the Fine Arts Center.
                </p>
                <p>
                  Learn more about the school <a href="http://www.fineartscenter.net">here</a>.
                </p>
              </div>
            </div>
          </hr>
        </li>
        <li>
          <div class='row-fluid'>
            <div class='span2 pull-center'>
              <img src="img/PartnersPurpleCircle.png" alt="Fine Arts Center Partners" height="112" width="112">
            </div>
            <div class='span10'>
              <h3>The Fine Arts Center Partners</h3>
              <p>
                The Fine Arts Center Partners is a 501(c)3 nonprofit organization dedicated to supporting and increasing the visibility of the Fine Arts Center. The Partners is an entirely volunteer-run organization, allowing us to donate 100% of all funds raised directly to the school to help fund the extraordinary arts education offered there.
              </p> 
              <p>
                Partners membership is open to parents of past and present Fine Arts Center students, Fine Arts Center alumni and all community members who wish to promote the goal of the Fine Arts Center. We are proud to contribute to the future of the Fine Arts Center and that of arts education in Greenville. Join us by attending A Taste of the Fine Arts on Friday, February 1, 2013.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
</div>