<!-- Main Content -->
<!--floating tickets tab -->
<a id="event" href="/tickets">
    <img src="../img/admission-tickets.gif">
    Tickets
</a>
<div id='content' role='main'>
  <section class='section alt remove-padding-and-margin' id='promo'>
    <div class='container'>
      <div class='hero-unit remove-padding-and-margin'>
        <img alt='Wine glass' src='img/Logo.png' />
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container'>
      <div class='page-header'>
        <div class='row-fluid'>
          <div class='span4'>
            <div class='well'>
              <h3>
                What
              </h3>
              <p>
                A sumptuous evening of fine food and entertainment
              </p>
            </div>
          </div>
          <div class='span4'>
            <div class='well'>
              <h3>
                When
              </h3>
              <p>
                The evening of Friday, February 1, 2013
              </p>
            </div>
          </div>
          <div class='span4'>
            <div class='well'>
              <h3>
                Where
              </h3>
            <p>
              Studio 220 at the Hyatt in downtown Greenville
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>