
    <!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
  <div class='container'>
    <div class='hero-unit'>
      <!--<h3>Media</h3>-->
    </div>
  </div>
</section>
<section class='section'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='span9'>
        <article class='blog-post'>
          <header class='blog-header'>
            <h2>
              Our website is live!
              <small>
                by
                <a href='#'>Fine Arts Center Partners</a>,
                5 Nov 2012.
              </small>
            </h2>
          </header>
          <figure class='thumbnail-figure'>
            <a href='#'>
              <img alt='Webbies' src='img/assets/webbies.jpg' height='433' width='869'/>
            </a>
          </figure>
          <p>
            Thanks to the tireless work of our wonderful volunteers, we welcome you to our new website. As plans for the event heat up, check back often for all the buzz on what to expect at A Taste of the Fine Arts.
          </p>
        
        </article>
      </div>
      <aside class='span3 sidebar'>
        <div class='sidebar-widget'>
          <h2 class='sidebar-header'>Did you know?</h2>
          <p>
             The Fine Arts Center was established in 1974 and is therefore South Carolina's oldest public arts high school.
          </p>
        </div>
        <div class='sidebar-widget'>
          <h2 class='sidebar-header'>Recent posts</h2>
          <ul class='unstyled'>
            <li>
              <h4>
                <a href='#'>Our Website is Live!</a>
              </h4>
              <p>
                <small>November 12, 2012</small>
              </p>
            </li>
          </ul>
        </div>
        <div class='sidebar-widget'>
          <h2 class='sidebar-header'>Popular posts</h2>
          <ul class='unstyled'>
            <li>
              <h4>
                <a href='#'>Our Website is Live!</a>
              </h4>
              <p>
                <small>November 12, 2012</small>
              </p>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
    </div>