
    <!-- Main Content -->
<div id='content' role='main'>
 <section class='section alt' id='promo'>
  <div class='container'>
    <div class='hero-unit'>
      <!--<h3>Media</h3>-->
    </div>
  </div>
</section>
<section class='section'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='span9'>
        <article class='blog-post'>
          <header class='blog-header'>
            <h2>
              So MINI Reasons to Attend
              <small>
                by
                <a href='#'>Fine Arts Center Partners</a>,
                8 Jan 2013.
              </small>
            </h2>
          </header>
          <div class="row-fluid">
            <img style="float: right; margin: 10px;" alt='MINI' src='img/assets/mini.jpg'/>
            <p>
              If you loved The Italian Job (Caine or Wahlberg, take your pick) and always thought those MINIs looked like a great way to pull of a grand heist, look no further. Century MINI of Greenville has donated a "MINI for a Weekend" (just long enough to execute your master plan) to be auctioned off at A Taste of the Fine Arts on February 1. MINIs are fuel efficient, zippy and more fun to drive than should be legal. They're easy to park almost anywhere. They come in sassy colors. They have legions of fans all over the world. (Plus they handle really well in the subway.)  Spend the weekend motoring around in a super cool MINI Cooper. You'll be able to pick the model that suits your fancy on a Friday and keep it until noon on Monday.
            </p>
            <p>
              Get your tickets <a href="javascript:submit()" onclick="document.getElementById('tickets').submit();">here</a>.
            </p>
          </div>
        </article>
        <article class='blog-post'>
          <header class='blog-header'>
            <h2>
              Auction Previews Start Tomorrow
              <small>
                by
                <a href='#'>Fine Arts Center Partners</a>,
                7 Jan 2013.
              </small>
            </h2>
          </header>  
          <p>
            Wanna know what we've got for your bidding pleasure this year? We're gonna tell ya … starting tomorrow. Try not to let the anticipation overwhelm you.
          </p>
        </article>
        <article class='blog-post'>
          <header class='blog-header'>
            <h2>
              Top Ten Reasons to Donate an Auction Item
              <small>
                by
                <a href='#'>Fine Arts Center Partners</a>,
                6 Jan 2013.
              </small>
            </h2>
          </header>
          <div class="row-fluid">
            <img style="float: right; margin: 10px;" alt='Auction gavel' src='img/assets/Gavel.jpg' width='442px' height='258px'/>
            <ol reversed>
              <li><em>Downton Abbey</em> may air on Sunday nights, but watching gala attendees in cocktail attire have a stare-down worthy of Dame Maggie Smith (over who will go home with the best auction item) is a good substitute.</li>
              <li>The silent and live auctions are a huge draw for this event. Your donation increases the appeal of the event, thereby increasing the number of attendees.</li>
              <li>It's community service without the conviction or the orange vest!</li>
              <li>Donating an item or a service gets your name or the name of your business out in front of hundreds of people.  </li>
              <li>It's better than assuming "someone else will do it."</li>
              <li>Contributing to a worthy cause makes you feel all warm and fuzzy inside.</li>
              <li>Did we mention all warm and fuzzy?</li>
              <li>The students of the Fine Arts Center depend on the money we raise at this event for classroom technology, materials and supplies.</li>
              <li>The faculty of the Fine Arts Center depend on the money we raise at this event for professional development opportunities.</li>
              <li>Because there's no good reason not to.</li>
            </ol>
          </div>
          <p>
           A Taste of the Fine Arts will take place on Friday, February 1. Items or offers of service must be received in the FAC office at 102 Pine Knoll Drive no later than January 29. We thank you in advance for your participation.
          </p>
          <p>
            Get your tickets <a href="javascript:submit()" onclick="document.getElementById('tickets').submit();">here</a>.
          </p>
        </article>
        <article class='blog-post'>
          <header class='blog-header'>
            <h2>
              What It's Worth
              <small>
                by
                <a href='#'>Fine Arts Center Partners</a>,
                27 Dec 2012.
              </small>
            </h2>
          </header>       
          <img style="float: left; margin: 10px;" alt='Fine Arts Center Photo, by Mark Lamkin' src='img/assets/FAC.jpg' height='200px' width='400px' />
          <p>
            There are myriad FAC student success stories. Roy Fluhrer, Director of the Fine Arts Center for the last 24 years, can rattle them off the way many men recall sports stats. He's not alone. FAC faculty who have been with the school for two years or 20 also have many stories to tell. The stories include high-profile individuals, such as Broadway performers Kimilee Bryant and Phillip Boykin and former Miss South Carolina Kelly McCorkle. Those are mentioned often because they garner a lot of attention. There are many more stories of spectacularly successful professional artists. Dancer Kevin Boseman, for example, toured for four and a half years in the National Tour of The Lion King  and in 2008 made his Broadway debut in Equus starring Daniel Radcliffe and Richard Griffiths -- after dancing with the Martha Graham Dance Company and being a principal with the world-renowned Alvin Ailey American Dance Theater. There are more stories of working artists emerging from the FAC than can be told here. In addition, there are many other FAC alumni who have gone on to successful careers in law, medicine, civil service and other fields who credit their time at FAC with helping form their personalities and goals.
          </p>
          <p>
            If this refrain sounds familiar, it is because you've probably heard it before. Last year, TOWN magazine published an <a href="http://www.towncarolina.com/features/30-artists/430-sliding-doors.html">article</a> highlighting how FAC changes lives. It is the same message you get from almost anyone involved with the FAC. It is nearly impossible to discuss the school without marveling at its impact. And never are those words more powerful than when they come from the source.
          </p>
          <p>
            Meghan Price-Wlodarczyk graduated from the FAC dance program in 2001 and went on to earn her BFA and MFA in dance. She now lives in the Washington, DC, area and teaches dance at A. Mario Loiederman Middle School for the Creative and Performing Arts while working as the Technology Coordinator for the National Dance Education Organization. Meghan did a great job of summarizing how she, and so many others, feel about the FAC:
          </p>
          <p class="blockquote-fancy-small">
            "Many years ago a teacher saw potential in me as a dancer during a summer arts program and invited me into the ARMES program [at FAC].  During high school I continued my training at the FAC. I do what I do today because someone saw in me what I did not yet know myself. I could not imagine what else I would do in my life now and hope everyday that I will make the same difference in a young dancer's life. The FAC is a school like none other."
          </p>
          <p>
            A Taste of the Fine Arts is your opportunity to contribute to this remarkable school. We'll see you there.
          </p>
        </article>
        <article class='blog-post'>
          <header class='blog-header'>
            <h2>
              Our website is live!
              <small>
                by
                <a href='#'>Fine Arts Center Partners</a>,
                5 Nov 2012.
              </small>
            </h2>
          </header>
          <figure class='thumbnail-figure'>
              <img alt='Webbies' src='img/assets/webbies.jpg' height='433' width='869'/>
          </figure>
          <p>
            Thanks to the tireless work of our wonderful volunteers, we welcome you to our new website. As plans for the event heat up, check back often for all the buzz on what to expect at A Taste of the Fine Arts.
          </p>
        
        </article>
      </div>
      <aside class='span3 sidebar'>
        <div class='sidebar-widget'>
          <h2 class='sidebar-header'>Did you know?</h2>
          <p>
             The Fine Arts Center was established in 1974 and is therefore South Carolina's oldest public arts high school.
          </p>
        </div>
        <div class='sidebar-widget'>
          <h2 class='sidebar-header'>Recent posts</h2>
          <ul class='unstyled'>
            <li>
              <h4>
                <a href="#">So MINI reasons to attend</a>
              </h4>
              <p>
                <small>January 8, 2013</small>
              </p>
            </li>
            <li>
              <h4>
                <a href="#">Auction Previews Start Tomorrow</a>
              </h4>
              <p>
                <small>January 7, 2013</small>
              </p>
            </li>
            <li>
              <h4>
                <a href='#'>Top Ten Reasons to Donate an Auction Item</a>
              </h4>
              <p>
                <small>January 6, 2013</small>
              </p>
            </li>
            
            <li>
              <h4>
                <a href='#'>What It's Worth</a>
              </h4>
              <p>
                <small>December 27, 2012</small>
              </p>
            </li>
            <li>
              <h4>
                <a href='#'>Our Website is Live!</a>
              </h4>
              <p>
                <small>November 12, 2012</small>
              </p>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  <form id="tickets" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="VDMEA9XMV4JPS">
  </form>
</section>
</div>