<div class="sponsor-row">
<!-- Sponsorship Boxes -->
      <div class="row-fluid">
        <div class="span2 offset1 info-box">
          <h2>Dessert</h2>
          <ul class="unstyled">
            <li>Title Ownership of Event</li>
            <li>Exclusive, VIP Seating</li>
            <li>Speaking Opportunity at Event</li>
            <li>Name Plaque on FAC Gallery for One Year</li>
            <li>20 Event Tickets</li>
            <li>Recognition/Logo on All Print and Online Media and Correspondence</li>
            <li>Recognition/Logo on Digital Outlets Inside the Hyatt Regency and on Main Street in Downtown Greenville Preceding and During the Event</li>
          </ul>
          <a class="btn btn-primary" href="#">$10,000</a>
        </div>
        <div class="span2 info-box">
          <h2>Relevé</h2>
          <ul class="unstyled">
            <li>10 Event Tickets</li>
            <li>Print Recognition of Support Including Logo</li>
            <li>Online Recognition of Support Including Logo</li>
            <li>Recognition of Support on All Event Correspondence Including Logo</li>
            <li>Recognition of Support on Digital Media at Event Including Logo</li>
          <a class="btn btn-primary" href="/sponsorships">$5000</a>
        </div>
        <div class="span2 info-box">
          <h2>Entreé</h2>
          <ul class="unstyled">
            <li>Six Event Tickets</li>
            <li>Print Recognition of Support</li>
            <li>Online Recognition of Support</li>
            <li>Recognition of Support on All Event Correspondence</li>
            <li>Recognition of Support on Digital Media at Event</li>
          <a class="btn btn-primary" href="/sponsorships">$2500</a>
       </div>
        <div class="span2 info-box">
          <h2>Hors D’Oeuvre</h2>
          <ul class="unstyled">
            <li>Four Event Tickets</li>
            <li>Print Recognition of Support</li>
            <li>Online Recognition of Support</li>
          <a class="btn btn-primary" href="/sponsorships">$1000</a>
       </div>
       <div class="span2 info-box">
          <h2>Aperitif</h2>
          <ul class="unstyled">
            <li>Two Event Tickets</li>
            <li>Print Recognition of Support</li>
          <a class="btn btn-primary" href="/sponsorships">$250</a>
       </div>
      </div>
</div>