<!-- Main Content -->
<div id='content' role='main'>
<section class='section alt' id='promo'>
  <div class='row-fluid'>
    <div class='span1 visible-desktop'>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Aperitif</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        250
      </h2>
      <ul class='pricing-table-list'>
        <li>Two Event Tickets</li>
        <li>Print Recognition of Support</li>
      </ul>
      <form id="Aperitif" action="https://www.paypal.com/cgi-bin/webscr" method="POST">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7CCMJX9K2G8JW">
        <a href="javascript:submit()" onclick="document.getElementById('Aperitif').submit();" class="btn">Give Now</a>
      </form>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Hors D’Oeuvre</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        1000
      </h2>
      <ul class='pricing-table-list'>
        <li>Four Event Tickets</li>
        <li>Print Recognition of Support</li>
        <li>Online Recognition of Support</li>
      </ul>
      <form id="HorsDOeuvre" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="D2E9GC3ECTCF6">
        <a href="javascript:submit()" onclick="document.getElementById('HorsDOeuvre').submit();" class="btn">Give Now</a>
      </form>
      
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Entreé</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        2500
      </h2>
      <ul class='pricing-table-list'>
        <li>Six Event Tickets</li>
        <li>Print and Online Recognition of Support</li>
        <li>Recognition on Event Correspondence</li>
        <li>Recognition on Digital Media at Event</li>
      </ul>
      <form id="Entreé" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="BLKJ9HR6PJ34Y">
        <a href="javascript:submit()" onclick="document.getElementById('Entreé').submit();" class="btn">Give Now</a>
      </form>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Relevé</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        5000
      </h2>
      <ul class='pricing-table-list'>
        <li>10 Event Tickets</li>
        <li>Print Recognition of Support Including Logo</li>
        <li>Online Recognition of Support Including Logo</li>
        <li>Recognition of Support on All Event Correspondence Including Logo</li>
        <li>Logo on Digital Media at Event</li>
      </ul>
      <form id="Relevé" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="U6AQPW2EJ4YBA">
        <a href="javascript:submit()" onclick="document.getElementById('Relevé').submit();" class="btn">Give Now</a>
      </form>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Dessert</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        10,000
      </h2>
      <ul class='pricing-table-list'>
        <li>20 Event Tickets</li>
        <li>Title Ownership of Event</li>
        <li>VIP Seating</li>
        <li>Speaking Opportunity <br/>
            at Event</li>
        <li>Name Plaque on FAC Gallery for One Year</li>
        <li>Logo on Correspondence, Print &amp Online Media, and Digital Media at Event</li>
        <!--<li>Logo on Digital Outlets at the Hyatt and on Main Street Preceding and During the Event</li>-->
      </ul>
      <form id="Dessert" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7H92Y5QXJR4P8">
        <a href="javascript:submit()" onclick="document.getElementById('Dessert').submit();" class="btn">Give Now</a>
      </form>
    </div>
    <div class='span1 visible-desktop'>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container'>
    <div>
      <h1>To Our Sponsors</h1>
      <p id="equalize">
        Support the Fine Arts Center and you will enjoy all of the rewards listed above in addition to the warm fuzzy feeling that comes from giving back to our community. Checks may be mailed to the Fine Arts Center Partners at the address below, or you may donate online through the links above. Thanks, and we'll see you in February!
      </p>
      <p></p>

    </div>
  </div>
</section>
</div>