<!--<div class="sponsor-row">

      <div class="row-fluid">
        <div class="span2 offset1 info-box">
          <h2>Dessert</h2>
          <ul class="unstyled">
            <li>Title Ownership of Event</li>
            <li>Exclusive, VIP Seating</li>
            <li>Speaking Opportunity at Event</li>
            <li>Name Plaque on FAC Gallery for One Year</li>
            <li>20 Event Tickets</li>
            <li>Recognition/Logo on All Print and Online Media and Correspondence</li>
            <li>Recognition/Logo on Digital Outlets Inside the Hyatt Regency and on Main Street in Downtown Greenville Preceding and During the Event</li>
          </ul>
          <a class="btn" href="#">$10,000</a>
        </div>
        <div class="span2 info-box">
          <h2>Relevé</h2>
          <ul class="unstyled">
            <li>10 Event Tickets</li>
            <li>Print Recognition of Support Including Logo</li>
            <li>Online Recognition of Support Including Logo</li>
            <li>Recognition of Support on All Event Correspondence Including Logo</li>
            <li>Recognition of Support on Digital Media at Event Including Logo</li>
          <a class="btn" href="/sponsorships">$5000</a>
        </div>
        <div class="span2 info-box">
          <h2>Entreé</h2>
          <ul class="unstyled">
            <li>Six Event Tickets</li>
            <li>Print Recognition of Support</li>
            <li>Online Recognition of Support</li>
            <li>Recognition of Support on All Event Correspondence</li>
            <li>Recognition of Support on Digital Media at Event</li>
          <a class="btn" href="/sponsorships">$2500</a>
       </div>
        <div class="span2 info-box">
          <h2>Hors D’Oeuvre</h2>
          <ul class="unstyled">
            <li>Four Event Tickets</li>
            <li>Print Recognition of Support</li>
            <li>Online Recognition of Support</li>
          <a class="btn" href="/sponsorships">$1000</a>
       </div>
       <div class="span2 info-box">
          <h2>Aperitif</h2>
          <ul class="unstyled">
            <li>Two Event Tickets</li>
            <li>Print Recognition of Support</li>
          <a class="btn" href="/sponsorships">$250</a>
       </div>
      </div>
</div>-->

<!-- Main Content -->
<div id='content' role='main'>
<section class='section alt' id='promo'>
  <div class='row-fluid'>
    <div class='span1 visible-desktop'>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Aperitif</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        250
      </h2>
      <ul class='pricing-table-list'>
        <li>1 project</li>
        <li>5 GB Storage</li>
        <li>Unlimited Users</li>
        <li>10 GB Bandwidth</li>
      </ul>
      <a class='btn' href='#'>
        Sign Up
      </a>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Hors D’Oeuvre</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        1000
      </h2>
      <ul class='pricing-table-list'>
        <li>5 projects</li>
        <li>10 GB Storage</li>
        <li>Unlimited Users</li>
        <li>10 GB Bandwidth</li>
      </ul>
      <a class='btn' href='#'>
        Sign Up
      </a>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Entreé</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        2500
      </h2>
      <ul class='pricing-table-list'>
        <li>10 projects</li>
        <li>50 GB Storage</li>
        <li>Unlimited Users</li>
        <li>10 GB Bandwidth</li>
      </ul>
      <a class='btn' href='#'>
        Sign Up
      </a>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Relevé</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        5000
      </h2>
      <ul class='pricing-table-list'>
        <li>100 projects</li>
        <li>500 GB Storage</li>
        <li>Unlimited Users</li>
        <li>100 GB Bandwidth</li>
      </ul>
      <a class='btn' href='#'>
        Sign Up
      </a>
    </div>
    <div class='well pricing-table span2 pull-center'>
      <h3>
        <span class='blocked'>Dessert</span>
      </h3>
      <h2 class='pricing-table-price'>
        <span>$</span>
        10,000
      </h2>
      <ul class='pricing-table-list'>
        <li>100 projects</li>
        <li>500 GB Storage</li>
        <li>Unlimited Users</li>
        <li>100 GB Bandwidth</li>
      </ul>
      <a class='btn' href='#'>
        Sign Up
      </a>
    </div>
    <div class='span1 visible-desktop'>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container'>
    <div>
      <h1>To Our Sponsors</h1>
      <p id="equalize">
        Support the Fine Arts Center and you will enjoy all of the rewards listed above in addition to the warm fuzzy feeling that comes from giving back to our community. Checks may be mailed to the Fine Arts Center Partners at the address below, or you may donate online through the links above. Thanks, and we'll see you in February!
      </p>
      <p>

    </div>
  </div>
</section>
</div>