   <!-- Page Footer -->
    <footer class='section' id='footer' role='contentinfo'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='span4'>
            <h3>Contact us</h3>
            <p>
              We'd love to hear from you.
            </p>
            <address>
              Fine Arts Center Partners<br/>  
              102 Pine Knoll Drive<br/>
              Greenville, SC 29609<br/>
            </address>
            <ul class='icons'>
              <li>
                <i class='icon-phone'></i>
                <a href="tel:1-864-214-5278">1-864-214-5278</a>
              <li>
                <i class='icon-envelope'></i>
                <a href='mailto:facpartners@gmail.com'>FAC Partners</a>
              </li>
              <li>
                <i class='icon-twitter'></i>
                <a href='https://twitter.com/facpartners' target='_blank'>@FACpARTners</a>
              </li>
              <li>
                <i class='icon-facebook'></i>
                <a href='https://www.facebook.com/FACPartners' target='_blank'>FACpARTners</a>
              </li>
            </ul>
          </div>
          <div class='span8'>
            <h3>Latest News</h3>
            <ul class='unstyled'>
              <li>
                <h4>
                  <a href='/news#stateoftheart'>Auction Preview: State of the Art</a>
                </h4>
                <p>
                  <small>January 25, 2013</small>
                </p>
                <p>A Taste of the Fine Arts is all about art, and that's why we're proud to be featuring the work of<a href="/news#stateoftheart">... Read More</a></p>
              </li>
              <li>
                <h4>
                  <a href='/news#thatsentertainment'>Auction Preview: That's Entertainment!</a>
                </h4>
                <p>
                  <small>January 24, 2013</small>
                </p>
                <p>We know what you're doing on the evening of February 1, but what about all of those other<a href="/news#thatsentertainment">... Read More</a></p>
              </li>
              <li>
                <h4>
                  <a href='/news#hotstuff'>Auction Preview: Hot Stuff</a>
                </h4>
                <p>
                  <small>January 21, 2013</small>
                </p>
                <p>Let's face it; no one really starts their New Year's resolutions in January<a href="/news#hotstuff">... Read More</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="/js/jquery.min.js" language="javascript" type="text/javascript"></script>
  <script src="/js/bootstrap.js" language="javascript" type="text/javascript"></script>
  <script src="/js/script.js" language="javascript" type="text/javascript"></script>
  <script type='text/javascript'>
    //<![CDATA[
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36308455-1']);
      _gaq.push(['_setDomainName', 'tastethearts.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    //]]>
  </script>
</html>