<% include head %>
 <!-- Main Content -->
 <div id="content" role="main">
    <section class="section" id="promo">
  <div class="container">
    <div class="carousel slide" id="myCarousel">
<!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="row-fluid">
            <img src="img/assets/FineArtsCenterTasteofFineArts-3.jpg">
          </div>
          <div class='section pull-center '>
			      <div class='hero-unit hero-big'>
			        <h2>Thank You</h2>
			      </div>
			    </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <img src="img/assets/FineArtsCenterTasteofFineArts-1.jpg">
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" data-slide="prev" href="#myCarousel">&lsaquo;</a>
      <a class="carousel-control right" data-slide="next" href="#myCarousel">&rsaquo;</a>
    </div>
  </div>
</section>
<section id='section'>
	<div class='container'>
		<div class='row-fluid'>
		        <div class='well span4'>
		          <ul class='unstyled'>
		            <li><strong>Relevé</strong></li>
		            <li>TOWN Magazine</li>
		            <li>Greenville Journal</li>
		            <li><strong>Entreé</strong></li>
		            <li>Pelham Architects, LLC</li>
		            <li>JHM Hotels</li>
		            <li>Mimi Wyche</li>
		            <li><strong>Hors D’Oeuvre</strong></li>
		      			<li>Jackson Motorsports Group</li>
		          </ul>
		        </div>
		         <div class='well span4'>
		          <ul class='unstyled'>
		            <li><strong>Aperitíf</strong></li>
		            <li>Lara & Eric Farnsworth</li>
		            <li>Greenville First Bank</li>
		            <li>JaniKing</li>
		            <li>McKinney Dodge</li>
		            <li>Giraffe Web Development & Design</li>
		            <li>Embassy Flowers</li>
		            <li>&nbsp</li>
		          </ul>
		        </div>
		         <div class='well span4'>
		          <ul class='unstyled'>
		            <li><strong>Aperitif</strong></li>
		            <li>Northwestern Mutual</li>
		            <li>Ken & Lorri Payne</li>
		            <li>Poinsett Animal Hospital</li>
		            <li>Rush Wilson Limited</li>
		            <li>Sherlock & Gaines Consulting</li>
		            <li>Genesis Press</li>
		            <li>&nbsp</li>
		          </ul>
		        </div>
		      </div>
	</div>
</section>
</div>
<% include foot %>