<!-- Main Content -->
<div id='content' role='main'>
  <section class='section alt pull-center' id='promo'>
    <div class='container'>
      <div class='hero-unit hero-big'>
        <h1>Thank you for your support.</h1>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span12'>
          <article>
            <header class='pull-center'>
              <h2>
                We look forward to seeing you in February.
              </h2>
            </header>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>