<!-- Main Content -->
<div id='content' role='main'>
  <section class='section alt pull-center' id='promo'>
    <div class='container'>
      <div class='hero-unit hero-big'>
        <h1>Success!</h1>
        <h2>
          Thanks for making our year.
        </h2>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span12'>
          <article>
            <header class='pull-center'>
              <h2>
                So, whats next?
              </h2>
            </header>
            <p class='pull-center'>
              We can't wait to see you in February!
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>