<!-- Main Content -->
<div id='content' role='main'>
  <section class='section alt pull-center' id='promo'>
    <div class='container'>
      <div class='hero-unit hero-huge'>
        <h1>Success!</h1>
        <p>
          Thank you so much for donating
        </p>
      </div>
    </div>
  </section>
  <section class='section'>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span12'>
          <article>
            <header class='pull-center'>
              <h2>
                So, whats next?
              </h2>
            </header>
            <p class='pull-center'>
              head back to the
              <a href='/'>homepage</a>
              and hangout for a while.
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>